<!doctype html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
    <div class="grid grid-cols-12">
        <div class="col-span-2  h-screen">
            <div class="sidebar flex justify-between text-center flex-col  mt-7 ml-10 mr-24 rounded-full" style="height: 90%; background-color: #7537D8;">
                <a href="">
                    <div class="relative inline-flex items-center justify-center w-16 mt-3 h-16  overflow-hidden bg-gray-100 rounded-full ">
                        <img src="https://i.pinimg.com/564x/03/39/27/033927806d11bab51c919cd265b6960b.jpg" alt="">
                    </div>
                </a>
                <a href="home.html" class="relative inline-flex items-center justify-center">
                    <img src="/public/icons/Home.svg" class="w-10" alt="">
                </a>
                <a href="courses.html" class="relative inline-flex items-center justify-center">
                    <img src="/public/icons/Graduation Cap.svg" class="w-10" alt="">
                </a>
                <a href="assignments.html" class="relative inline-flex items-center justify-center">
                    <img src="/public/icons/Backpack.svg" class="w-10" alt="">
                </a>
                <a href="" class="relative inline-flex items-center justify-center">
                </a>
                
                
                <a href="" class="relative inline-flex items-center justify-center">
                    <img src="/public/icons/Shutdown.svg" class="w-10 mb-3" alt="">
                </a>
            </div>
        </div>
        <div class="col-span-10 ">
            <div class="main mt-7 bg-gray-10 mr-5">
                <h1 class="text-3xl font-semibold">All My Courses</span></h1>

                <div class="courses grid grid-cols-3 gap-y-8 gap-x-3  mt-7">
                    <div class="card w-80 h-48 rounded-2xl" style="background-color: #FFD660;">
                        <h3 class="ml-5 mt-3 text-xl font-bold">UI/UX Design</h3>
                        <p class="ml-5 mt-1 text-base  font-normal">Telkom DigiUp 2023</p>

                        <button type="button" class=" mt-16 ml-5 py-1.5 px-8 me-2 mb-2 text-sm font-medium text-gray-900 focus:outline-none bg-white opacity-80 rounded-full border border-gray-200 hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-4 focus:ring-gray-200 :focus:ring-gray-700 :bg-gray-800 :text-gray-400 :border-gray-600 :hover:text-white :hover:bg-gray-700">Explore</button>
                    </div>
                    <div class="card w-80 h-48 rounded-2xl" style="background-color: #A278E4">
                        <h3 class="ml-5 mt-3 text-xl text-white font-bold">Big Data Scientist</h3>
                        <p class="ml-5 mt-1 text-base text-slate-300  font-normal">Ms. Atik Ariyani</p>

                        <button type="button" class=" mt-16 ml-5 py-1.5 px-8 me-2 mb-2 text-sm font-medium text-gray-900 focus:outline-none bg-white opacity-80 rounded-full border border-gray-200 hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-4 focus:ring-gray-200 :focus:ring-gray-700 :bg-gray-800 :text-gray-400 :border-gray-600 :hover:text-white :hover:bg-gray-700">Explore</button>
                    </div>
                    <div class="card w-80 h-48 rounded-2xl" style="background-color: #7537D8">
                        <h3 class="ml-5 mt-3 text-xl text-white font-bold">Content Creator</h3>
                        <p class="ml-5 mt-1 text-base text-slate-300 font-normal">Ms. Atik Ariyani</p>

                        <button type="button" class=" mt-16 ml-5 py-1.5 px-8 me-2 mb-2 text-sm font-medium text-gray-900 focus:outline-none bg-white opacity-80 rounded-full border border-gray-200 hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-4 focus:ring-gray-200 :focus:ring-gray-700 :bg-gray-800 :text-gray-400 :border-gray-600 :hover:text-white :hover:bg-gray-700">Explore</button>
                    </div>
                    <div class="card w-80 h-48 rounded-2xl" style="background-color: #A278E4;">
                        <h3 class="ml-5 mt-3 text-xl text-white font-bold">Economy Business</h3>
                        <p class="ml-5 mt-1 text-base text-slate-300 font-normal">Ternak Uang</p>

                        <button type="button" class=" mt-16 ml-5 py-1.5 px-8 me-2 mb-2 text-sm font-medium text-gray-900 focus:outline-none bg-white opacity-80 rounded-full border border-gray-200 hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-4 focus:ring-gray-200 :focus:ring-gray-700 :bg-gray-800 :text-gray-400 :border-gray-600 :hover:text-white :hover:bg-gray-700">Explore</button>
                    </div>

                </div>
            </div>

  
        </div>
    </div>

    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
</body>
</html>