<!doctype html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="https://unpkg.com/trix@2.0.0/dist/trix.css">
  <script src="https://cdn.tailwindcss.com"></script>
  <script type="text/javascript" src="https://unpkg.com/trix@2.0.0/dist/trix.umd.min.js"></script>
</head>
<body class="bg-gray-100">

    <div class="flex flex-row">
        <div class="sidebar-area w-2/12 flex justify-center ">
            <div class="sidebar flex flex-col w-20 mt-5 fixed justify-between text-center rounded-full shadow-lg" style="background-color: #7537D8; height: 35rem;">
                <a href="">
                    <div class="relative inline-flex items-center justify-center w-16 mt-3 h-16  overflow-hidden bg-gray-100 rounded-full ">
                        <img src="https://i.pinimg.com/564x/03/39/27/033927806d11bab51c919cd265b6960b.jpg" alt="">
                    </div>
                </a>
                <a href="homeTeacher.html" class="relative inline-flex items-center justify-center">
                    <img src="/public/icons/Home.svg" class="w-10" alt="">
                </a>
                <a href="coursesTeacher.html" class="relative inline-flex items-center justify-center">
                    <img src="/public/icons/Graduation Cap.svg" class="w-10" alt="">
                </a>
                <a href="assignmentsTeacher.html" class="relative inline-flex items-center justify-center">
                    <img src="/public/icons/Backpack.svg" class="w-10" alt="">
                </a>
                <a href="" class="relative inline-flex items-center justify-center">
                </a>
                
                
                <a href="" class="relative inline-flex items-center justify-center">
                    <img src="/public/icons/Shutdown.svg" class="w-10 mb-3" alt="">
                </a>
            </div>
        </div>
        <div class="main-area mt-7 w-10/12 mr-4 pb-10">
            <div class="welcome-text main flex justify-between">
                <h1 class="text-2xl font-semibold">Edit Assignment</span></h1>
                <div class="text-right flex">
                    <h1 class="text-base opacity-70 font-medium self-center">Senin, 15 Desember 2023</h1>
                    <ion-icon onclick="history.back()" class="self-center text-xl ml-5 text-violet-900" name="chevron-back-outline"></ion-icon>
                    <ion-icon onclick="history.forward()" class="self-center text-xl ml-2 text-violet-900" name="chevron-forward-outline"></ion-icon>
                </div>
            </div>

        <div class="form-area mt-8 w-6/12">
            <form action="" method="post">
                <div class="input title mt-6">
                    <label for="title" class="block mb-2 text-base font-medium text-gray-900">Assignment Name</label>
                    <input type="text" name="title" value="Tugas Akhir Project" id="title" class="bg-gray-50 border border-gray-300 text-gray-900 text-base font-semibold rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full px-2.5 py-3" placeholder="Tugas Project Akhir" required>
                </div>
                <div class="input instruction mt-6">
                    <label for="instruction" class="block mb-2 text-base font-medium text-gray-900">Assignment Instruction</label>
                    <input id="instruction" value="Kerjakan dengan benar" type="hidden" name="description">
                    <trix-editor input="instruction" class="h-56"></trix-editor>
                </div>
                <div class="input deadline mt-6">
                    <label for="datetime" class="block mb-2 text-base font-medium text-gray-900">Assignment Deadline</label>
                    <input type="datetime-local" value="2023-12-29T23:59" name="deadline" id="datetime" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full px-2.5 py-4 text-sl font-bold" required>
                </div>
                <div class="input file-one mt-6">
                    <label for="file-one" class="block mb-2 text-base font-medium text-gray-900">Assignment Attachment</label>
                    <input type="file" name="file-one" id="file-one" class="bg-gray-50 border border-gray-300 text-gray-900 text-base  focus:ring-blue-500 focus:border-blue-500 block w-full">
                </div>
                <div class="input file-two mt-3 mb-8">
                    <input type="file" name="file-two" id="file-two" class="bg-gray-50 border border-gray-300 text-gray-900 text-base  focus:ring-blue-500 focus:border-blue-500 block w-full">
                </div>

                <button type="submit" class="py-2 w-full px-3 bg-violet-500 hover:bg-violet-700 text-white font-semibold text-base mt-5 mb-5 rounded-full" onclick="location.href='assignmentsTeacher.html'">
                        Update
                </button>
            </form>
        </div>


        </div>
    </div>

    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
    <script src="https://kit.fontawesome.com/1319cd5cd7.js" crossorigin="anonymous"></script>
</body>
</html>