<!doctype html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://cdn.tailwindcss.com"></script>
  <title>Login Page</title>
</head>
<body>
  <section id="login">
    <div class="grid grid-cols-10 h-screen">
        <div class="col-span-4 bg-violet-600">
            <div class="flex">
                <img src="/public/img/LoginPeople.png" class="w-96 ml-14 mt-6 self-center content-center" alt="">
            </div>
        </div>
        <div class="col-span-6">
            <div class="login-text mx-10">
                <h2 class="text-3xl font-bold mt-8">Sign In Into Your Account</h2>
            </div>

            <div class="login-form ml-10 mr-24 mt-16">
                <form action="" method="post">

                    <div class="mb-6">
                        <input type="email" id="email" name="email" class="bg-gray-50 border border-gray-300 text-gray-900 text-2xl rounded-2xl focus:ring-blue-500 focus:border-blue-500 block w-full p-4 :bg-gray-700 :border-gray-600 :placeholder-gray-400 :text-white :focus:ring-blue-500 :focus:border-blue-500" placeholder="Enter Your Email" required>
                      </div>
                    <div class="mb-6">
                        <input type="password" id="Password" name="password" class="bg-gray-50 border border-gray-300 text-gray-900 text-2xl rounded-2xl focus:ring-blue-500 focus:border-blue-500 block w-full p-4 :bg-gray-700 :border-gray-600 :placeholder-gray-400 :text-white :focus:ring-blue-500 :focus:border-blue-500" placeholder="Enter Your Password" required>
                      </div>

                    <button class="button w-full mt-16 py-5 rounded-3xl font-bold text-xl" style="background-color: #FFD660;">Sign In</button>

                </form>

                <h4 class="mt-20">Don't Have an Account ? <a href="register.html" class="text-violet-500 underline">Sign Up Here</a></h4>
            </div>
        </div>
    </div>
  </section>
</body>
</html>