<!doctype html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://cdn.tailwindcss.com"></script>
  <title>Login Page</title>
</head>
<body>
  <section id="login">
    <div class="grid grid-cols-10 h-screen">
        <div class="col-span-4" style="background-color: #FFD660;">
            <div class="flex">
                <img src="/public/img/ImageRegister.png" class="w-96 ml-14 mt-6 self-center content-center" alt="">
            </div>
        </div>
        <div class="col-span-6">
            <div class="login-text mx-10">
                <h2 class="text-3xl font-bold mt-8">Create Your Account</h2>
                <h6 class="mt-1 font-normal opacity-70">Your Epic Adventure Begins Here</h6>
            </div>

            <div class="login-form ml-10 mr-32 mt-10">
                <form action="" method="post">

                    <div class="mb-6">
                        <input type="text" id="fullname" name="fullname" class="bg-gray-50 border border-gray-300 text-gray-900 text-lg rounded-2xl focus:ring-blue-500 focus:border-blue-500 block w-full p-3 :bg-gray-700 :border-gray-600 :placeholder-gray-400 :text-white :focus:ring-blue-500 :focus:border-blue-500" placeholder="Enter Your Fullname" required>
                      </div>
                    <div class="mb-6">
                        <input type="email" id="email" name="email" class="bg-gray-50 border border-gray-300 text-gray-900 text-lg rounded-2xl focus:ring-blue-500 focus:border-blue-500 block w-full p-3 :bg-gray-700 :border-gray-600 :placeholder-gray-400 :text-white :focus:ring-blue-500 :focus:border-blue-500" placeholder="Enter Your Email" required>
                    </div>
                    <div class="mb-6">
                        <input type="password" id="password" name="password" class="bg-gray-50 border border-gray-300 text-gray-900 text-lg rounded-2xl focus:ring-blue-500 focus:border-blue-500 block w-full p-3 :bg-gray-700 :border-gray-600 :placeholder-gray-400 :text-white :focus:ring-blue-500 :focus:border-blue-500" placeholder="Enter Your Strong Password" required>
                    </div>
                    <div class="mb-6">
                        <select id="role" name="role" class="bg-gray-50 border border-gray-300 text-gray-900 text-lg rounded-2xl focus:ring-blue-500 focus:border-blue-500 block w-full p-3 :bg-gray-700 :border-gray-600 :placeholder-gray-400 :text-white :focus:ring-blue-500 :focus:border-blue-500" required>
                          <option selected>Choose a Role</option>
                          <option value="1">Student</option>
                          <option value="2">Teacher</option>
                        </select>
                    </div>

 

                    <button class="button w-full mt-7 py-5 rounded-3xl font-bold text-xl bg-violet-600 text-white">Create Now</button>

                </form>

                <h4 class="mt-5">Already Have an Account ? <a href="login.html" class="text-violet-500 underline">Sign Up Here</a></h4>
            </div>
        </div>
    </div>
  </section>
</body>
</html>